<html>
<h1>Ingredient Management Page</h1>
<h3>Add New Ingredient:</h3>
<form id="addIng" action="/ingredients" method="post">
    SKU: <input type="text" name="sku">
    Name: <input type="text" name="name">
    Cost: <input type="text" name="cost">
    Inventory <input type="text" name="inventory"><input type="submit" value="Add New Inventory">
 </form>
<br/>

<h3>ingredient Inventory:</h3>
<table>
    <thead> 
        <th>SKU</th>
        <th>Name</th>
        <th>Cost</th> 
        <th>Inventory</th> 
    </thead> 
    <tbody>
        {{#each IngredientsPlural}} 
        <tr>
            <td>{{sku}}</td> 
            <td>{{name}}</td> 
            <td>{{cost}}</td> 
            <td>{{inventory}}</td> 
            <td><button onclick="deleteInv({{sku}})">Delete</button></td>
            <td><a href="/ingredients/{{sku}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
